.form {
    width: 300px;
    min-height: 250px;
    border-radius: 10px;
}
h2 {
    text-align: center;
}
.form-block {
    text-align: center;
    font-size: 15px;
}
#summary {
    font-weight: 500;
    font-family: "Gill Sans", sans-serif;
}
#actions {
    text-align: center;
    font-size: 15px;
}
#actions div {
    margin: 15px 0;
}
#actions a {
    margin: 15px 15px;
}
#actions input {
    width: 290px;
    margin: 15px 0;
}
select {
    font-size: 15px;
}
button:not(.simple-button) {
    height: 50px;
    width: 50%;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#message {
    height: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
}

.mode-tab {
    padding: 4px 19px;
    background: lightgray;
    color: gray;
}

.mode-tab label {
    cursor: pointer;
}

.mode-active{
    background: cadetblue;
    color: white;
}

#devModeActions {
    margin-top: 15px;
}
